PORT=8000
MONGODB_URI=your mongo db uri here
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=your secret here
ACCESS_TOKEN_EXPIRY=30m
REFRESH_TOKEN_SECRET= your secret here
REFRESH_TOKEN_EXPIRY=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=